@import './reset.css';
@import './variables.css';
@import './fonts.css';

html{
	font-size: 14px; font-family: var(--main-text-font);
	font-style: normal;
}

body{
    font-family: var(--main-text-font);
	font-style: normal;
	font-size: 14px;
}