:root{
	/* Основные цвета */
	--deep-space-blue: #12263A;
	--alice-blue: #F7FEFF;
	--emerald: #5DD39E;
	--pale-state: #B2BDC4;
	--white: #fff;
	--red: #CA2E2E;
    /* Цвета не указанные в ui-kit */
    /* Дополнительные цвета */ 
	--light-grey: #F6F6F7;
	--grey: #C1C1C9;
	/*цвета, украденные с работы*/
	--black-neutrals: #0D0D26;
    --grey-light: #F6F6FB;
    --grey-blue-not-light: #B7B7CC;
    --grey-blue-light: #D0D0E2;
    --grey-not-dark: #8D8D9D;
    --grey-dark: #76768C;
    --white-smoky: #EEEDF7;
    --white-grey: #F5F5F5;
    --black-no-opacity: rgb(31, 31, 51, 0.55);
    --black-ten-opacity: #1F1F331A;
    /* Цвета бэкграундов */
	--main-bg-color-alice-blue: var(--alice-blue);
	--bg-color-emerald: var(--emerald);
	--bg-color-red: var(--red);
	--bg-dark-color-deep-space-blue: var(--deep-space-blue);
    /* Цвета теней */
	
    /* Цвета кнопок */
	--main-btn-color-deep-space-blue: var(--deep-space-blue);
	--main-btn-color-emerald: var(--emerald);
	--btn-color-light-grey: var(--light-grey);
	--btn-color-red: var(--red);
    /* Цвета границ */
	--main-border-color-deep-space-blue: var(--deep-space-blue);
	--main-border-color-pale-state: var(--pale-state);
	--border-color-emerald: var(--emerald);
	--border-color-red: var(--red);
    /* Цвета текста */
	--main-text-color-deep-space-blue: var(--deep-space-blue);

	--text-color-pale-state: var(--pale-state);
	--text-color-grey: var(--grey);
	--text-color-white: var(--white);
    /* Шрифты */
    --main-text-font: "Inter";
    /* Размеры шрифта mobile base:14*/
    --font-size-eight: 0.571rem; /* 8px */
    --font-size-ten: 0.7143rem; /* 10px */
    --font-size-eleven: 0.7857rem; /* 11px */
    --font-size-twelve: 0.8571rem; /* 12px */
	--font-size-fourteen: 1rem; /* 14px */
	--font-size-sixteen: 1.1429rem; /* 16px */
	--font-size-eighteen: 1.2857rem; /* 18px */
	--font-size-twenty: 1.4286rem; /* 20px */
	--font-size-twenty-two: 1.5714rem; /* 22px */
	--font-size-twenty-four: 1.7143rem; /* 24px */
	--font-size-twenty-five: 1.7857rem; /* 25px */
	--font-size-thirty-four: 2.4286rem; /* 34px */
    /* Жирность шрифта */
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;
    /* Толщина линии шрифта */
    --line-height-tiny: 12px;
	--line-height-small: 14px;
	--line-height-medium: 16px;
	--line-height-large: 20px;
    --line-height-not-huge: 22px;
	--line-height-huge: 23px;
	--line-height-giant: 28px;
	--line-height-massive: 30px;
    --line-height-absolute: 100%;
    --line-height-immense: 36px;
}